/* Insert your styles here */

body{
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    background-color: hsl(207, 100%, 45%);
    
}

nav{
    background-color: hsl(207, 100%, 60%);
    position: sticky;
    top: 0;
}
.nav-links{
    display: flex;
    flex-grow: 1;
}

.nav-links a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    box-sizing: border-box;
}

main{
    min-height: 100%
}

a{
    color: black;
}
