/* Insert your styles here */
header{
    padding: 1vmin;
}

body{
    font-family: 'Roboto', sans-serif;
    
}

body h2{
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    background-color: hsl(207, 100%, 45%);
    
}

nav{
    background-color: hsl(207, 100%, 60%);
    position: sticky;
    top: 0;
}
.nav-links{
    display: flex;
    flex-grow: 1;
}

.nav-links a{
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    box-sizing: border-box;
    padding: 1vmin;
}

.nav-links a:hover{
    color: black;
}

main article { 
    height: 100vmin;
    box-sizing: border-box;
    padding: 1vmin;
}

.us {
    border: thick;
    border-style: none none solid none;
}

