/* Insert your styles here */

body{

}

header{
    background-color: #3ba7ff;
}

nav{
    background-color: #3ba7ff;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
}

.nav-links a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin: auto;
    box-sizing: border-box;
}

main{
    min-height: 100%
}

a{
    color: black;
}
